@model Modelo.Cadastros.Curso

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutIES.cshtml";
}

<div class="card-block">
    <div class="card-header text-white bg-danger text-center h1">
        Registrando um novo curso
    </div>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">@ViewBag.Departamento.Nome - @ViewBag.Departamento.DepartamentoID</label>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" id="DepartamentoID" name="DepartamentoID" value=@ViewBag.Departamento.DepartamentoID />
                <input type="hidden" id="DepartamentoNome" name="DepartamentoNome" value=@ViewBag.Departamento.Nome />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
